@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');
{
    font-family: 'Roboto', sans-serif;
}
title { text-align: center;
    font-size: 30;
}
body {
    background-color: wheat;
    font-size: 18px;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 26px;
    border: solid red 1px;
    border-radius: 1px;
    padding: 1%;
}
h2{
    text-align: left;
    color:black;
    font-size: 20px;
}
img{
align-items: center;
   width: 150px;
   height: 150px;
   border-color: red;
   border-radius: 3px;
}

